/* start: forget-password-set screen*/
#forget-password-set-screen {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    height: 100vh; 
    top: 30vh;
    font-family: 'Inter', 'Times New Roman', Times, serif;
  
}
#forget-password-set-screen .heading{
    width: fit-content;
    font-size: 20px;
    color: #B48400;
    font-weight: 400;
    line-height: 24px;
    transform: translate(-200%, -100%);
}

#forget-password-set-screen .information{
    margin: 20px;
    width: fit-content;
    transform: translate(20%, 10%);
}
  
#forget-password-set-screen .information label {
    display: block;
    width: 340px;
    left: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 10px; 
} 
  
#forget-password-set-screen .information input {
    width: 340px;
    height: 40px;
    padding: 8px;
    font-size: 16px;
    font-weight: 200;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    opacity: 0.5;
    
}

#forget-password-set-screen .information input:hover {
    background-color: #FFF7E4;
}

#forget-password-set-screen .btn-finish {
    width: 80px;
    border-radius: 4px;
    width: 180px;
    height: 50px;
    background-color: #FFF7E4;
    border-radius: 9px;
    color: #000;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    border: 0.5px solid #ccc;
    transform: translate(40%, 0);
    cursor: pointer;
}

@media only screen and (max-width: 739px){
    #forget-password-set-screen {
        justify-content: center;
        align-items: center;
        transform: none;
    }

    #forget-password-set-screen .heading {
        transform: none;
    }

    #forget-password-set-screen .information {
        transform: none;
        margin: 20px;
    }
    
    #forget-password-set-screen .information label {
        width: 250px;
    }

    #forget-password-set-screen .information input {
        width: 250px;
        margin-bottom: 20px;
    }

    #forget-password-set-screen .btn-finish {
        transform: none;
        width: 100px;
        height: 30px;
        font-size: 12px;
    }
}

@media only screen and (min-width: 740px) and (max-width: 1239px){
    
}
/* end: forget-password-set-screen */